body {
    font-family: 'Yrsa', serif;
    font-size: 18px;
    background-color: #594F4F;
}

#header {
    background-color: #547980;
    text-align: center;
    padding: 1px;
    border-radius: 20px 20px 0px 0px;
}

#annadir{
    width: 50px;
    height:50px;
    background: url("../img/annadir.svg");
    background-size: 100% 100%;
    position:fixed !important; left:0px; top:0px; z-index:10 !important
}

#arriba{
    width: 50px;
    height:50px;
    background: url("../img/arriba.svg");
    background-size: 100% 100%;
    position:fixed !important; right:0px; bottom:0px; z-index:10 !important
}

#header ul, footer ul{
    margin: 0;
    list-style: none;
    padding-left: 0;
}

#header li{
    display: inline-block;
    padding: 15px;
    margin: 3px;
    border-radius: 7px 14px;
    background-color: #45ADA8;
    box-shadow: 2px 2px 3px white;
    transition: box-shadow 1s;
}

#header li:hover {
    box-shadow: 3px 3px 6px white;
    background-color: #9DE0AD;
    transition: all 1s;
}

#header a {
    text-decoration: none;
}

main {
    width: 70%;
    display: inline-block;
    margin: 15px;
}

aside {
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

section {
    background-color: #9DE0AD;
    margin: 30px;
    padding: 5px;
    border-radius: 7px 14px;
}

h4 {
    margin: 0;
}

.controles {
    text-align: right;
}

.editar {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/editar.svg");
    background-size: 100% 100%;
}

.eliminar {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/borrar.svg");
    background-size: 100% 100%;
}

.fecha {
    text-align: right;
}

footer{
    background-color: #547980;
    text-align: center;
    padding: 1px;
    border-radius: 0px 0px 20px 20px;
}

footer p{
    margin: 10px;
}

footer li{
    display: inline-block;
    padding: 15px;
    margin: 3px;
}

#facebook {
    background: url("../img/facebook.svg");
    background-size: 100% 100%;
}

#twitter {
    background: url("../img/twitter.svg");
    background-size: 100% 100%;
}

#github {
    background: url("../img/github.svg");
    background-size: 100% 100%;
}

.redes {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    transition: all 1s;
    transform: scale(1, 1);
}

textarea{
    resize: none;
    height: 100px;
    width: 400px;
    border-radius: 5px;
    font-size: 15px;
}





