body {
    font-family: 'Yrsa', serif;
    font-size: 18px;
    background-color: rgba(66, 66, 66, 0.90);
}

#header {
    background-color: rgba(255, 153, 0, 0.90);
    text-align: center;
    padding: 1px;
    border-radius: 20px 20px 0px 0px;
}

#annadir{
    width: 50px;
    height:50px;
    position:fixed !important;
    left:0;
    top:0;
}

#arriba{
    width: 50px;
    height:50px;
    position:fixed !important;
    right:0;
    bottom:0;
}

#header ul, footer ul{
    margin: 0;
    list-style: none;
    padding-left: 0;
}

#header li{
    display: inline-block;
    padding: 15px;
    margin: 3px;
    border-radius: 7px 14px;
    background-color: #E9E9E9;
    box-shadow: 2px 2px 3px white;
    transition: box-shadow 1s;
}

#header li:hover {
    box-shadow: 3px 3px 6px white;
    background-color: #BCBCBC;
    transition: all 1s;
}

#header a {
    text-decoration: none;
    color: black;
}

img.editarEliminar{
    width: 20px;
    height: 20px;
}

img.navegacion{
    width: 50px;
    height: 50px;
}

main {
    width: 70%;
    display: inline-block;
    margin: 15px;
}

aside {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
}

section {
    background-color: #E9E9E9;
    margin: 30px;
    padding: 5px;
    border-radius: 7px 14px;
}

h4 {
    margin: 0;
}

.controles {
    text-align: right;
}

.editar {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/editar.svg");
    background-size: 100% 100%;
}

.eliminar {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/borrar.svg");
    background-size: 100% 100%;
}

.fecha {
    text-align: right;
}

footer{
    background-color: rgba(255, 153, 0, 0.90);
    text-align: center;
    padding: 1px;
    border-radius: 0px 0px 20px 20px;
}

footer p{
    margin: 10px;
}

footer li{
    display: inline-block;
    padding: 15px;
    margin: 3px;
}

.redes {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    transition: all 1s;
    transform: scale(1, 1);
}

form>p>label{
    display: inline-block;
    width: 130px;
}
input, textarea, select{
    border-radius: 5px;
    margin: 8px;
}

textarea{
    resize: none;
    height: 100px;
    width: 300px;
    font-size: 15px;
}

[required]{
    box-shadow: 1px 1px 7px green;
}

input:invalid, textarea:invalid{
    border-color: red;
}







