html {
  font-family: "Roboto Condensed", sans-serif;
  background-color: rgba(204, 204, 204, 0.91); }

body {
  overflow-y: hidden !important;
  overflow-x: hidden !important; }

#principal {
  background-image: url("../image/fondo-pequenio.jpg");
  background-size: 100% 100%;
  color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center; }
  #principal h1 {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 40px;
    background-color: #1e1daa;
    opacity: 0.81;
    text-align: center;
    padding: 15px;
    width: 100%; }

#botonmenu {
  visibility: visible;
  background-color: rgba(204, 204, 204, 0.91);
  border-radius: 5px 5px;
  height: 40px;
  position: fixed !important;
  right: 0;
  top: 0;
  width: 40px; }

#menu {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  display: flex;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45%;
  background-color: #1e1daa; }
  @media (orientation: landscape) {
    #menu {
      height: 80%; } }
  #menu p {
    margin: 0; }
  #menu a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s;
    width: 100%; }
    #menu a:hover {
      background-color: rgba(0, 0, 0, 0.3);
      transition: all 0.7s; }

.ajustar article, .ajustar div {
  display: inline-block;
  vertical-align: top; }
.ajustar .texto {
  text-align: justify;
  padding: 2px; }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    .ajustar .texto {
      width: 65%; } }

h2 {
  text-align: center;
  font-size: 25px;
  margin: 0; }

#lenguajes {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center; }
  #lenguajes img {
    width: 50px;
    height: 50px; }

.extra {
  display: none; }

#trabajos {
  background-color: rgba(109, 109, 109, 0.91);
  text-align: center; }

#contacto {
  background-color: rgba(45, 45, 45, 0.91);
  display: flex;
  flex-flow: column;
  justify-content: space-between; }
  #contacto footer {
    background-color: rgba(109, 109, 109, 0.91);
    text-align: center;
    font-size: 15px;
    padding: 20px; }

#mifoto {
  background-image: url("../image/mifoto.jpg");
  background-size: 100% 100%;
  border-radius: 100px;
  height: 100px;
  width: 100px;
  margin: 10px; }

#redesSociales {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center; }
  #redesSociales img {
    width: 100px;
    height: 100px; }

#mistrabajos {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }
  #mistrabajos a {
    text-decoration: none;
    color: white; }
  #mistrabajos div {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 5px;
    background-color: rgba(45, 45, 45, 0.91);
    border-radius: 20px; }

@media screen and (min-width: 768px) {
  html {
    font-size: 22px; }

  #botonmenu {
    visibility: hidden; }

  #principal {
    background-image: url("../image/fondo.jpg"); }
    #principal h1 {
      width: 100%;
      padding: 0;
      padding-top: 30px;
      padding-bottom: 30px;
      font-size: 70px; }

  #menu {
    visibility: visible;
    flex-flow: row;
    width: 100%;
    height: 70px; }
    #menu a {
      border-radius: 10px;
      padding: 20px;
      width: auto; }

  #sobremi, #trabajos, #contacto {
    padding-top: 70px; }

  .extra {
    display: inline-block; }

  h2 {
    font-size: 40px;
    font-weight: bold; }

  #mifoto {
    height: 300px;
    width: 300px;
    margin: 15px;
    border-radius: 200px; } }
  @media screen and (min-width: 768px) and (orientation: portrait) {
    #mifoto {
      height: 250px;
      width: 250px; } }

@media screen and (min-width: 768px) {
  .texto {
    width: 60%; }

  #lenguajes img {
    width: 70px;
    height: 70px; }

  #redesSociales img {
    width: 250px;
    height: 250px; }

  #mistrabajos div {
    width: 170px;
    height: 170px;
    margin: 15px;
    padding: 15px;
    border-radius: 50px; }

  footer {
    margin-bottom: 70px;
    padding: 20px; } }
@media screen and (min-width: 1080px) {
  #textosobremi {
    width: 65%; }

  #mifoto {
    height: 350px;
    width: 350px; }

  #lenguajes img {
    width: 120px;
    height: 120px; } }

/*# sourceMappingURL=estilo.css.map */
