$azul: rgb(30, 29, 170)
$fondo-pagina: rgba(204, 204, 204, 0.91)
$margin: 70px
$borde-grande: 50px
$borde-pequenio: 20px

html
  font-family: 'Droid Sans', sans-serif
  background-color: $fondo-pagina


=titulo()
  font-family: 'Oswald', sans-serif
  font-weight: bold
  font-size: 40px
  //text-shadow: 2px 2px 0px darkgrey
  background-color: $azul
  opacity: 0.81
  text-align: center

body
  overflow-y: hidden !important

#principal
  background-image: url("../image/fondo-pequenio.jpg")
  //background-attachment: fixed
  background-size: 100% 100%
  color: white
  //para poner el texto centrado en la página
  display: flex
  //para que las cosas se pongan unas debajo de otras
  flex-flow: column
  //abajo
  align-items: center
  //lateral
  justify-content: center
  //filter: blur(1px)
  h1
    +titulo
    padding: 15px
    //background-color: rgba(35, 35, 35, 0.87)

#botonmenu
  background-color: $fondo-pagina
  border-radius: 5px 5px
  height: 40px
  position: fixed !important
  right: 0
  top: 0
  width: 40px


#menu
  display: none
  flex-flow: column
  justify-content: space-around
  align-items: center
  position: fixed
  top: 0
  left: 0
  width: 60%
  height: 70%
  background-color: $azul
  p
    margin: 0
  a
    color: white
    font-size: 20px
    font-weight: bold
    padding: 20px 0px
    text-align: center
    text-decoration: none
    transition: all .5s
    width: 100%
    &:hover
      background-color: rgba(0, 0, 0, 0.3)
      transition: all .7s

.ajustar
  div
    display: inline-block
    vertical-align: top
  .texto
    text-align: justify
    padding: 2px

h2
  text-align: center
  font-size: 25px


#mifoto
  background-image: url("../image/mifoto.jpg")
  background-size: 100% 100%
  border: solid 1px black
  border-radius: $borde-pequenio
  box-shadow: 1px 1px 1px white
  height: 125px
  width: 125px
  margin: 15px


@media screen and (min-width: 768px)
  #principal
    background-image: url("../image/fondo.jpg")
    h1
      width: 100%
      padding: 0
      padding-top: 30px
      padding-bottom: 30px
      font-size: 70px
  #menu
    display: flex
    flex-flow: row
    width: 100%
    height: $margin
    a
      border-radius: 10px
      padding: 20px
      width: auto

  #sobremi, #trabajos, #contacto
    padding-top: $margin

  h2
    font-size: 30px

  #mifoto
    height: 350px
    width: 350px
    margin: 15px
    border-radius: $borde-grande

  .texto
    width: 70%