#principal{
    text-align: center;
}

#imagenes li{
    display: inline-block;
    opacity: 0.5;
}

#principalGaleria *{
    display: inline-block;
    vertical-align: top;
}

#principalGaleria img{
    width: 249px;
    height: 199px;
}

#imagenes img{
    width: 106px;
    height: 88px;
}

@media only screen and (min-width: 1080px) {
    #principal{
        text-align: left;
    }

    #principalGaleria img{
        width: 498px;
        height: 399px;
    }

    #imagenes img{
        width: 160px;
        height: 133px;
    }
}